.content-container {
  background: white;
  border-radius: 50px;
  width: 1595px;
  height: 831px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "frontend backend varios";
}
