.skills-container {
  background: white;
  border-radius: 50px;
  margin: 2em;
  padding: 0 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 70vh;
}

.skill-section {
  max-width: 300px;
  text-align: center;
  margin: auto 1em;
}

.skill-section ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  color: #757575;
  margin: 1em 0.4em;
  padding: 0;
  justify-content: space-between;
}

.skill-section li {
  margin: 0.3em;
  font-weight: bold;
}

.skill-section p {
  margin: 1em;
  color: #757575;
}

@media (min-width: 1090px) {
  .skill-section {
    margin-top: 2em;
  }
  .skill-section > * {
    margin: 4em auto;
  }
}
