.work-container {
  padding-left: 2%;
  padding-right: 2%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.work-item {
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
  box-shadow: 4px 4px 10px #888888;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.work-item-text {
  background: lightblue;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.work-item-text >*{
  margin:0 auto;
}
.work-item-techs {
  display: flex;
  flex-grow: 4;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
.work-item-tech-item {
  width: 70px;
  height: 70px;
  margin:15px;
}
