.header {
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: right;
}
.page-link {
  color: #fff;
  margin: 10px;
  text-decoration: none;
  padding: 2px 25px;
}

.page-active {
  background: white;
  border-radius: 15px;
  color: black;
}
