.header {
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: right;
}
.page-link {
  color: #fff;
  margin: 10px;
  text-decoration: none;
}

.page-active {
  background: white;
  color: violet
}
