html,
body {
  margin: 0;
  padding: 0;
}
html {
  background: linear-gradient(180deg, #090859 0%, #9D9CCC 70.83%) no-repeat fixed;
  background-size: cover;
}
.button {
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.button-active {
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: black;
}
.button-active:focus {
  outline: none;
}
.title {
  margin-top: 75px;
  text-align: center;
  font-size: 64px;
  color: #fff;
}
.text {
  padding-left: 4%;
  padding-right: 4%;
  margin: auto;
  max-width: 800px;
  margin-top: 60px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 1.5rem;
  color: #00000090;
  font-weight: 300;
}

.subtitle {
  margin: auto;
  max-width: 700px;
  text-align: center;
  font-weight: 9000;
  font-size: 64px;
  color: #fff;
}

.stack-images {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
